# ==========================
# Ambiente Virtual
# ==========================
venv/
.env/
.venv/

# ==========================
# Python
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Sistema Operacional
# ==========================
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# ==========================
# Arquivos temporários
# ==========================
*.tmp
*.bak
*.swp

# ==========================
# Build / Distribuição
# ==========================
build/
dist/
*.spec

# ==========================
# Cache de testes
# ==========================
.pytest_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Executáveis
# ==========================
*.exe